<h3>Control Panel</h3>
  <div class="row">
    <div class="col-md-3">
      <h4>Devices</h4>
      <table class="table" id = "moduleTable">
        <tr>
          <th>Available chuck</th>
          <th>Module flavour</th>
          <th>Serial #</th>
        </tr>

      </table>
    </div>

    <div class="col-md-3">
      <h4>Tests</h4>
      <div class="radio">
         <label>
           <input type="radio" name="optionsRadios" id="standardTests" value="standardTests" checked onclick="toggleCustomTests()">
           Standard tests
         </label>
       </div>
       <div class="radio">
         <label>
           <input type="radio" name="optionsRadios" id="customTests" value="customTests" onclick="toggleCustomTests()">
           Custom tests
         </label>
       </div>
       <div id="customTestsArea" class="hidden">
         <div id="testList">
         </div>
         <button class="btn btn-default" id="addButton" type="button">Add test</button>
       </div>
    </div>

    <div class="col-md-3">
      <h4>Controles</h4>
      <button class="btn btn-success" onclick="startColdbox();" id="startButton">START</button>
      <button class="btn btn-danger" disabled="disabled" onclick="stopColdbox();" id="stopButton">STOP</button>
      <div class="input-group">
         # of cycles
         <select class="form-control" id="numberCycles">
           <option>5</option>
           <option>10</option>
           <option>15</option>
         </select>
      </div>
    </div>

    <div class="col-md-3">
      <h4>Log</h4>
      <div class="bg-primary" style="max-height: 200px; overflow: auto!important;" id="logBox">
      </div>
    </div>
  </div>
